Calculus/Books/*.pdf filter=lfs diff=lfs merge=lfs -text
Discrete/[[:space:]]Mathematics/*.pdf filter=lfs diff=lfs merge=lfs -text
Software/[[:space:]]Engineering/*.pdf filter=lfs diff=lfs merge=lfs -text
Java/*.pdf filter=lfs diff=lfs merge=lfs -text
